@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-image: url(art-institute-of-chicago-iK93YSaxbWo-unsplash.jpg);
    min-height: 100vh;
    align-items: center;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 3rem;
    margin-top: 15rem;
    font-weight: normal;

}

.countdown-container{
        display: flex;
}

.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    font-weight: bold;
    color: rgb(65, 85, 234);
}

.countdown-el span{
    font-size: 1.5rem;
    color:#0808cd ;

}

.countdown-el{
    text-align: center;
}
